SUPABASE_URL=https://doiummgablzsddogwkqn.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvaXVtZ2JhYmx6c2RvZGd3a3FuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyMDc2MzMsImV4cCI6MjA5Mjc4MzYzM30.BvIg8wKuEH7Qs8v3qfchUVl56kUHqr5DV2leqt9y7rI
PORT=5000
